{% extends "base.html" %}

{% block loading_data %}
  <script type="text/javascript">
    grade_list={{grade_list|tojson}}
  </script>
{% endblock %}

{% block breadrumb %}
  <ul class="breadrumb-list">
    <li>設定</li>
    <li>成績</li>
    <li class="current">生徒一覧画面</li>
  </ul>

  <p class="page-title">成績設定</p>
{% endblock %}

{% block part_title %}
  <div class="main-contents-part-title">
    <p class="part-title">生徒一覧</p>
  </div>
{% endblock %}

{% block part_contents %}
  <div class="main-contents-part-block">
    <table id="grade-table">
        <tr>
          <th>生徒番号</th><th>第1回</th><th>第2回</th><th>第3回</th><th>第4回</th><th>第5回</th><th>第6回</th>
        </tr>
      </table>
  </div>
{% endblock %}

{% block loading_js %}
  <script src="../static/js/config.js" charset="utf-8"></script>
{% endblock %}

{% block modal %}
  <div class="modal">
    <div class="modal-bk"></div>
    <div class="modal-main">
        <div class="modal-title">
            <p></p>
        </div>
        <form action="/" method="post" class="modal-contents">
            <div class="modal-contents-row">
                <div class="modal-contents-col">
                    <div class="modal-form-row">
                      <div class="modal-form-image"><img src="../static/img/student.svg" alt="生徒番号"></div>
                      <div class="modal-form-input"><input type="text" value="生徒番号000001さん" name="student_id" readonly></div>
                    </div>
                    <ul class="modal-form-list">
                      <li>
                        <ul>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/test.svg" alt="テスト名"></div>
                            <div class="modal-form-input">
                              <input type="text" value="第1回実力テスト" disabled>
                            </div>
                          </li>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/grade.svg" alt="成績"></div>
                            <div class="modal-form-input"><input type="text" name="score_1" placeholder="5教科合計点数" size="8em"></div>
                            <div class="modal-form-input"><input type="text" name="s_score_1" placeholder="偏差値" size="3em"></div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/test.svg" alt="テスト名"></div>
                            <div class="modal-form-input">
                              <input type="text" value="第2回実力テスト" disabled>
                            </div>
                          </li>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/grade.svg" alt="成績"></div>
                            <div class="modal-form-input"><input type="text" name="score_2" placeholder="5教科合計点数" size="8em"></div>
                            <div class="modal-form-input"><input type="text" name="s_score_2" placeholder="偏差値" size="3em"></div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/test.svg" alt="テスト名"></div>
                            <div class="modal-form-input">
                              <input type="text" value="第3回実力テスト" disabled>
                            </div>
                          </li>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/grade.svg" alt="成績"></div>
                            <div class="modal-form-input"><input type="text" name="score_3" placeholder="5教科合計点数" size="8em"></div>
                            <div class="modal-form-input"><input type="text" name="s_score_3" placeholder="偏差値" size="3em"></div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/test.svg" alt="テスト名"></div>
                            <div class="modal-form-input">
                              <input type="text" value="第4回実力テスト" disabled>
                            </div>
                          </li>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/grade.svg" alt="成績"></div>
                            <div class="modal-form-input"><input type="text" name="score_4" placeholder="5教科合計点数" size="8em"></div>
                            <div class="modal-form-input"><input type="text" name="s_score_4" placeholder="偏差値" size="3em"></div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/test.svg" alt="テスト名"></div>
                            <div class="modal-form-input">
                              <input type="text" value="第5回実力テスト" disabled>
                            </div>
                          </li>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/grade.svg" alt="成績"></div>
                            <div class="modal-form-input"><input type="text" name="score_5" placeholder="5教科合計点数" size="8em"></div>
                            <div class="modal-form-input"><input type="text" name="s_score_5" placeholder="偏差値" size="3em"></div>
                          </li>
                        </ul>
                      </li>
                      <li>
                        <ul>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/test.svg" alt="テスト名"></div>
                            <div class="modal-form-input">
                              <input type="text" value="第6回実力テスト" disabled>
                            </div>
                          </li>
                          <li>
                            <div class="modal-form-image"><img src="../static/img/grade.svg" alt="成績"></div>
                            <div class="modal-form-input"><input type="text" name="score_6"placeholder="5教科合計点数" size="8em"></div>
                            <div class="modal-form-input"><input type="text" name="s_score_6" placeholder="偏差値" size="3em"></div>
                          </li>
                        </ul>
                      </li>
                      
                    </ul>

                </div>
                <div class="modal-contents-col">
                    <div class="modal-form-submit">
                      <button type="button" class="modal-form-cancel-button">戻る</button>
                      <button type="submit" class="modal-form-exe-button">登録</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
{% endblock %}