{% extends "base.html" %}

{% block loading_data %}
  <script type="text/javascript">
    student_list={{student_list|tojson}}
  </script>
{% endblock %}

{% block breadrumb %}
  <ul class="breadrumb-list">
    <li>設定</li>
    <li>成績</li>
    <li class="current">生徒一覧画面</li>
  </ul>

  <p class="page-title">成績設定</p>
{% endblock %}

{% block part_title %}
  <div class="main-contents-part-title">
    <p class="part-title">生徒一覧</p><button type="button" class="add-button" id="student-add-button">＋</button>
  </div>
{% endblock %}

{% block part_contents %}
  <div class="main-contents-part-block">
    <table id="student-table">
        <tr>
          <th>生徒番号</th><th>編集</th><th>削除</th>
        </tr>
      </table>
  </div>
{% endblock %}

{% block loading_js %}
  <script src="../static/js/config.js" charset="utf-8"></script>
{% endblock %}