{% extends "base.html" %}

{% block loading_data %}
  <script type="text/javascript">
    student_id={{student_id|tojson}}
    score_list={{score_list|tojson}}
    s_score_list={{s_score_list|tojson}}
  </script>
{% endblock %}

{% block breadrumb %}
  <ul class="breadrumb-list">
    <li>成績管理</li>
    <li class="current">個別成績閲覧画面</li>
  </ul>

  <p class="page-title">個別成績閲覧画面</p>
{% endblock %}

{% block part_title %}
  <div class="main-contents-part-title">
    <p class="part-title"></p>
  </div>
{% endblock %}

{% block part_contents %}
  <div class="main-contents-part-row">
    <div class="main-contents-part-column width-8">
      <canvas id="grade-chart"></canvas>
    </div>
    <div class="main-contents-part-column width-4">
      <table id="individual-student-grade">
        <tr>
          <th>テスト名</th><th>得点</th><th>偏差値</th>
        </tr>
        <tr>
          <td>第1回実力テスト</td>
        </tr>
        <tr>
          <td>第2回実力テスト</td>
        </tr>
        <tr>
          <td>第3回実力テスト</td>
        </tr>
        <tr>
          <td>第4回実力テスト</td>
        </tr>
        <tr>
          <td>第5回実力テスト</td>
        </tr>
        <tr>
          <td>第6回実力テスト</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}

{% block loading_js %}
  <script src="../static/js/manage.js" charset="utf-8"></script>
{% endblock %}