{% extends "base.html" %}

{% block loading_data %}
  <script type="text/javascript">
    grade_list={{grade_list|tojson}}
  </script>
{% endblock %}

{% block breadrumb %}
  <ul class="breadrumb-list">
    <li>成績管理</li>
    <li class="current">生徒一覧画面</li>
  </ul>

  <p class="page-title">成績管理</p>
{% endblock %}

{% block part_title %}
  <div class="main-contents-part-title">
    <p class="part-title">生徒一覧</p>
  </div>
{% endblock %}

{% block part_contents %}
  <div class="main-contents-part-block">
    <table id="grade-table">
        <tr>
          <th>生徒番号</th><th>第1回</th><th>第2回</th><th>第3回</th><th>第4回</th><th>第5回</th><th>第6回</th>
        </tr>                
      </table>
  </div>
{% endblock %}

{% block loading_js %}
  <script src="../static/js/manage.js" charset="utf-8"></script>
{% endblock %}