<div class="sidebar">

    <div class="sidebar-logo">
      <img src="../static/img/logo.png" alt="Supporter-α">
    </div>

    <div class="sidebar-menu">
      <ul class="sidebar-menu-list">
        <li>
          <a href="">
            <div class="sidebar-menu-image">
              <img src="../static/img/home.svg" alt="">
            </div>
            <div class="sidebar-menu-title">
              ホーム
            </div>
          </a>
        </li>
        <li>
          <a href="/manage_grade">
            <div class="sidebar-menu-image">
              <img src="../static/img/grade.svg" alt="">
            </div>
            <div class="sidebar-menu-title">
              成績管理
            </div>
          </a>
        </li>
        <li>
          <div class="sidebar-menu-image">
            <img src="../static/img/config.svg" alt="">
          </div>
          <div class="sidebar-menu-title">
            設定
          </div>
        </li>
        <ul>
          <li>
            <a href="/config_student">
              生徒
            </a>
          </li>
          <li>
            <a href="/">
              成績
            </a>
          </li>
          <li>
            <a href="">
              テスト
            </a>
          </li>
          <li>
            <a href="">
              学校
            </a>
          </li>
          <li>
            <a href="">
              安全度
            </a>
          </li>
        </ul>
      </ul>
    </div>

  </div>