//////////////////////////////////////////////////
// 初期設定
//////////////////////////////////////////////////

@charset "UTF-8";

body{
  background-color: #EEEFF0;
  font-family: "Noto Sans JP", sans-serif;
}

ul{
  padding: 0;
  margin: 0;
}

li{
  list-style: none;
  padding: 0;
  margin: 0;
}

p{
  margin: 0;
}

a{
  color: #1F1F30;
}

.modal{
  display: block;
}

.no-spin input::-webkit-inner-spin-button,
.no-spin input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
    -moz-appearance:textfield !important;
}

//////////////////////////////////////////////////
// 共通設定
//////////////////////////////////////////////////

body{
  display: flex;
}

.sidebar{
  width: 240px;
  padding: 20px;
  background-color: #fff;

  .sidebar-logo{
    margin: 0 0 32px;
    text-align: center;

    img{
      object-fit: contain;
      object-position: center;
    }
  }

  .sidebar-menu{
    .sidebar-menu-list{
      > li{
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 12px 8px;
        border-radius: 4px;

        &:first-of-type{
          .sidebar-menu-image{
            mask-image: url("../img/home.svg");
          }
        }

        &:nth-of-type(2){
          .sidebar-menu-image{
            mask-image: url("../img/grade.svg");
          }
        }

        &:nth-of-type(3){
          position: relative;

          &::after{
            position: absolute;
            top: 50%;
            right: 0;
            // color: #1F1F30;
            color: #ABB2C4;
            font-family: "Font Awesome 6 Free";
            font-size: 22px;
            font-weight: 700;
            transition: .3s;
            transform: translateY(-50%);
            content: "\f107";
          }

          &.clicked{
            &::after{
              content: "\f106";
            }
          }

          .sidebar-menu-image{
            mask-image: url("../img/config.svg");
          }
          
        }

        a{
          display: flex;
          width: 100%;
          align-items: center;
          gap: 8px;
          text-decoration: none;
          transition: .3s;
        }

        &.current{
          background-color: #EEEFF0;
          a{
            color: #1F1F30;
          }

          .sidebar-menu-image{
            background-color: #1F1F30;
          }

          .sidebar-menu-title{
            color: #1F1F30;
            transition: .3s;
          }
        }

        &:hover{
          a{
            color: #1F1F30;
          }

          .sidebar-menu-image{
            background-color: #1F1F30;
          }

          .sidebar-menu-title{
            color: #1F1F30;
            transition: .3s;
          }

          &:nth-of-type(3){
            &::after{
              color: #1F1F30;
            }
          }
        }

        .sidebar-menu-image{
          width: 32px;
          height: 32px;
          mask-size: contain;
          mask-repeat: no-repeat;
          mask-position: center;
          background-color: #ABB2C4;
          transition: .3s;

          // img{
          //   width: 100%;
          //   object-fit: contain;
          //   object-position: center;
          // }
        }

        .sidebar-menu-title{
          color: #ABB2C4;
          transition: .3s;
        }
      }

      > ul{
        display: none;
        padding: 0 0 0 32px;

        // &.clicked{
        //   display: block;
        // }

        li{
          padding: 8px 16px;
          border-radius: 4px;

          a{
            display: block;
            transition: .3s;
            color: #ABB2C4;
            text-decoration: none;
          }

          &:hover{
            a{
              color: #1F1F30;
            }
          }

          &.current{
            background-color: #EEEFF0;
            a{   
              color: #1F1F30;
            }
          }

        }
      }
    }
  }
}

.main{
  width: calc(100% - 240px);
  background-color: #EEEFF0;

  .main-head{
    padding: 16px 24px;

    .breadrumb-list{
      display: flex;
      margin: 0 0 16px;
      gap: 42px;

      li{
        position: relative;
        color: #6D7B89;
        font-size: 14px;

        &::after{
          position: absolute;
          right: -28px;
          font-size: 14px;
          content: ">";
        }

        &:last-of-type::after{
          content: "";
        }
      }

      .current{
        color: #1F1F30;
      }
    }

    .page-title{
      font-size: 18px;
      font-weight: 700;
    }
  }

  .main-contents{
    padding: 16px 24px;

    .main-contents-part{
      max-height: calc(100vh - 96px - 16px* 4);
      overflow-y: scroll;
      padding: 16px;
      border-radius: 4px;
      background-color: #fff;

      .main-contents-part-title{
        display: flex;
        align-items: center;
        gap: 32px;
        margin: 0 0 32px;

        p{
          font-size: 18px;
        }

        button{
          // width: 40px;
          height: 40px;
          padding: 7px 15px 7px 10px;
          border: 0;
          border-radius: 4px;
          color: #fff;
          font-size: 16px;
          font-weight: 500;
          background-color: #1C6DD0;
          transition: .3s;

          &:hover{
            opacity: 0.8;
          }
        }
      }

      .main-contents-part-row{
        display: flex;
        gap: 16px;

        .main-contents-part-column{

          // width: calc((100% - 16px) / 2);

          table{
            tr{
              border: 1px solid #C3C3C3;
            }

            th{
              padding: 12px;
              border-right: 1px solid #C3C3C3;
              background-color: #EEEFF0;
              text-align: center;
            }

            td{
              padding: 12px;
              border-right: 1px solid #C3C3C3;
              text-align: center;
            }
          }
        }

        .width-6{
          width: calc((100% - 16px) / 2);
        }

        .width-8{
          width: calc((100% - 16px) / 3 * 2);
        }

        .width-4{
          width: calc((100% - 16px) / 3);
        }
      }

      .main-contents-part-block{
        table{
          tr{
            border: 1px solid #C3C3C3;
            cursor: pointer;
            transition: .3s;

            &:first-of-type{
              cursor: default;

              &:hover{
                // border: 1px solid #C3C3C3;
                background-color: #EEEFF0;
                color: #1F1F30;
              }
            }
            
            &:hover{
              background-color: #EAF3FE;
              color: #1C6DD0;
            }
          }

          th{
            padding: 12px 16px;
            background-color: #EEEFF0;
            text-align: center;
          }

          td{
            padding: 8px 16px;

            ul{
              text-align: center;

              li{
                font-size: 15px;
              }
            }
          }
        }

        button{
          width: 40px;
          height: 40px;
          padding: 8px;
          border: 0;
          border-radius: 4px;
          background-color: rgb(238, 239, 240);
          text-align: center;
          transition: .3s;

          &:hover{
            background-color: #1C6DD0;

            > div{
              background-color: #fff;
            }
          }

          > div{
            width: 20px;
            height: 20px;
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            background-color: rgb(103,109,124);
            transition: .3s;
          }



          // img{
          //   width: 20px;
          //   height: 20px;
          //   object-fit: contain;
          //   object-position: center;
          // }
        }

        .edit-button > div{
          mask-image: url("../img/edit.svg");
        }

        .delete-button > div{
          mask-image: url("../img/delete.svg");
        }
      }
    }
  }
}

.modal{
  display: none;
  position: fixed;
  z-index: 2;

  &.show{
    display: block;
  }

  .modal-bk{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.1;
  }

  .modal-main{
    position: relative;
    width: 993px;
    height: 536px;
    top: 50%;
    left: 50%;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    opacity: 1;
    transform: translate(-50%, -50%);

    .modal-title{
      font-size: 18px;
      margin: 0 0 24px;
    }

    .modal-contents{
      .modal-contents-row{
        // display: flex;
        // gap: 24px;
        // align-items: flex-end;
        // justify-content: space-between;

        .modal-contents-col{

          .modal-form-row{
            display: flex;
            margin: 0 0 32px;
            align-items: center;
            gap: 20px;

            // &:last-of-type{
            //   margin: 0;
            // }
          }

          .modal-form-image{
            img{
              width: 24px;
              height: 24px;
              object-fit: contain;
              object-position: center;
            }
          }

          .modal-form-input{
            input{
              padding: 8px 16px;
            }

            .input-score{
              width: 8.8em;
            }

            .input-s-score{
              width: 5.2em;
            }
          }

          .modal-form-list{
            display: flex;
            gap: 24px;
            // max-height: 245px;
            // overflow-y: scroll;
            flex-wrap: wrap;
            margin: 0 0 32px;

            li{
              display: flex;
              align-items: center;
              gap: 24px;

              ul{
                li{
                  margin: 0 0 24px;
    
                  &:last-of-type{
                    margin: 0;
                  }
                }
              }
              
            }
          }

          .modal-form-submit{
            display: flex;
            justify-content: flex-end;
            gap: 24px;

            button{
              padding: 8px 12px;
              border-radius: 4px;
              color: #1F1F30;
            }

            .modal-form-cancel-button{
              border: 1px solid #1F1F30;
              transition: .3s;

              &:hover{
                opacity: 0.8;
                cursor: pointer;
              }
            }

            .modal-form-exe-button{
              border: 0;
              background-color: #1C6DD0;
              color: #fff;
              transition: .3s;

              &:hover{
                opacity: 0.8;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}